body {
    font-family: Arial, sans-serif;
    background: #f6f8fa;
    margin: 0;
    padding: 0;
}

header {
    background: #002b5c;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    .info {
        width: fit-content;
        margin: 0 auto;
    }

    nav {
        position: absolute;
        right: 0px;
    }
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    width: 80%;
    margin: auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #002b5c;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background: #004c9c;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 15px;
    background: #002b5c;
    color: white;
}
